body{
    max-width: 125vh;
    margin: auto;
    padding-top: 15px;
}
.header{
    padding: 1rem;
}

.logo {
    cursor: pointer;
    text-align: center;
    margin-bottom: 2%;
    margin-top: 3%;
}

.logo img {
    width: 39%;
    height: 20%;
    margin-right: 2%;
}

.socials {
    margin-left: 2%;
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
    
}
.date{
    flex: 4;
    display: inline-flex;
    
}
.date i{
    margin-right: 5px;
}
.date a{
    color:rgb(38,113,99);
    margin-right: 15px;
}
.pastdate {
    display: inline-flex;
    flex: 2;
    padding-left: 15%;
}
.pastdate i{
    margin-right: 10px;
}
.pastdate a{
    color:rgb(38,113,99);
    margin-right: 30px;
}
.sm{
    flex: 1;
}
.sm a{
    line-height: 22px;
    border-radius: 50px;
    position: relative;
    align-items: center;
    height: 22px;
    width: 22px;
    color:rgb(38,113,99);
    margin: 2px;
}
#navbar {
    display: flex;
    background-color: rgb(38, 113, 99);
    height: 57px;
    width:125vh;
    margin-top: 1px;
    z-index: 100000;

}
#navbar.sticky{
    width:125vh;
    background-color: rgb(38, 113, 100);
    /* margin-left: -19.3%; */
    margin-top: -2px;
}
.header {
    padding:0px;
    margin-right: 10px;
  }
  
  .sticky {
    position: fixed;
    top: 0px;
    width: 88%;
    transition: 1s;
  } 
  .sticky + .header {
    padding-top: 60px;
  }
#navbar li {
    display: inline;

}
#navbar a.active {
    background-color:rgb(132, 180, 212);
    color: white;
} 
.ul{
    margin-left: -40px;
    flex:3;

}
#navbar li a {
    font-size: 17px;
    color: rgb(255, 255, 255);
    display:inline;
    text-decoration: none;
    padding:19px 14px;
}
#navbar li a:hover {
    background-color:rgb(132, 180, 212);
    transition: 1s;
    overflow: hidden;
}

.search {
    padding: 19px;
    
}

.adbox {
    border: 3px solid rgb(247, 247, 247);
    height: 100px;
    margin-bottom: 20px;
    margin: auto;
}

.adboxs {
    border: 3px solid rgb(247, 247, 247);
    height: 110px;
    margin: auto;
    width: 110vh;
    margin-top: 25px;
    margin-bottom: 30px;

}

.adboxsm {
    border: 3px solid rgb(247, 247, 247);
    margin: auto;
    width: 95vh;
    height: 110px;
    margin-bottom: 3%;
}

.adboxsma {
    margin: auto;
    width:70vh;
    height: 100px;
    margin-bottom: 2rem;
}

.heading h1 {
    height: auto;
    width: auto;
    margin: auto;
    color: rgb(20, 66, 97);
    font-size: 50px;
    font-weight:400;
    text-align: center;
    padding:3rem;
    border: 1px solid #e1e1e1c0;
    cursor: pointer;
    margin-top: 2%;
    margin-bottom: 5%;
}

.imgbox{
    height: auto;
    width: auto;
    margin: auto;
    color: rgb(103, 159, 196);
    font-size: 500px;
    padding: 1rem;
    text-align: center;
    border: 1px solid #ffffff;
    cursor: pointer;
}
.news{
    height: auto;
    width: auto;
    margin: auto;
    color: rgb(103, 159, 196);
    font-size: 50px;
    text-align: center;
    border: 1px solid #e1e1e1;
    cursor: pointer;
    margin-top: 6%;
    margin-bottom: 5%;
}
.colnews{
    margin: auto;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.col1{
    flex: 2;
}
.col2{
    flex: 2;
}
.col3{
    flex: 2;
}
.btimg{
    padding-top: 25px;
    margin: auto;
    width: auto;
    margin-left: 28px;
    padding-bottom: 50px;
}
.specialnews{
    display:flex;
    justify-content: space-between;
    background-color: #ffffff6c;
    border-color: rgb(84, 57, 21);
    margin: auto;
    width: auto;
}
.specialnews1{
background-color: rgba(255, 255, 255, 0.9);
flex:3;
}
.specialnews2{
    background-color: rgb(232, 232, 232);
    flex:2;
}
.sideads{
    flex:1;
    padding-left: 3px;
}



.writer{
    font-size: 20px;
}
.footer{
    padding-left: 420px;
    background-color: rgba(29, 161, 161, 0.66);

}